	/*body*/
	body,html{
		margin: 0px;
		padding: 0px;
		min-width: 1000px;
	}
	img{
		border: 0px;
		display: block;
	}
	.title-detail{
		color: black;
	}

	/*content*/
	.content{
		overflow: hidden;
		background: url('../images/back.jpg') no-repeat 100% 0%;
		background-size:100%;
	}
	/*core*/
	.core{
		background: white;
	}
	.core div{
		width: 50%;
		overflow: hidden;
		background: white;
	}
	.core img{
		width: 90%;
		position: relative;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
		margin: 20px auto;
	}
	.core .right{
		padding-top: 1%;
	}
	.core h2{
		text-align: left;
		line-height: 40px;
		margin-bottom: 0px;
		padding-bottom: 0px;
		margin-top: 10%;
	}
	.core p{
		margin-top: 2%;
		word-break:break-all;
		display:-webkit-box;
		-webkit-line-clamp:6;
		-webkit-box-orient:vertical;
		overflow:hidden;
	}
	/*theme*/
	.theme-title{
		margin-top: 28%; 
	}

	/*lamp*/
	.lamp-box{
		margin-top: 4%;
		margin-bottom: 4%;
		overflow: hidden;
	}
	.lamp-box img{
		width: 23%;
		float: left;
		margin: 1% 1% 0px;
		cursor: pointer;
	}
	/*width*/
	.core .w-35{
		width: 35%;
	}
	.core .w-65{
		width: 65%;
	}
	/**/
	.lamp-box h4{
		color: black;
		text-indent: 1em;
		border-left: 3px solid black;
		line-height: 14px;
		margin: 28px 0px;
		font-size: 16px;
	}
