	/*body*/
	body,html{
		margin: 0px;
		padding: 0px;
		min-width: 1000px;
	}
	b{
		font-weight: normal;
	}
	/*transition*/
	.trans{
		transition: all .6s;
	}
	/*sidebar*/
	.sidebar{
		position: fixed;
		right: 0px;
		top: 40%;
		line-height: 60px;
	}
	.sidebar .shape{
		width: 70px;
		background: #444444;
		color: white;
		height: 60px;
		text-align: center;
		-webkit-transform: skew(-27deg);
	    -moz-transform: skew(-27deg);
	    -o-transform: skew(-27deg);
	    transform: skew(-27deg);
	    margin-right: -27px;
		transition-delay: .3s;
	}
	.sidebar .box-d {
		right: -100px;
	    z-index: -1;
	    margin-left: 0px;
	}
	.sidebar .box-d i{
		top: 0px;
		left: 35%;
		bottom: 0px;
		right: 0px;
		margin: auto;
		display: block;
		font-size: 33px;
		color: white;
		text-align: center;
	}
	.sidebar .font{
		color: white;
		background: #444444;
		width: 65px;
		text-align: center;
	}
	.sidebar .shape-left{
	    float: right;
	    border-bottom: 60px solid #444444;
    	border-left: 30px solid transparent;
	}
	.sidebar .test-drive{
	    position: absolute;
	    right: 0px;
	    top: 0;
	    width: 160px;
	    padding-left: 10px;
	    cursor: pointer;
	    /*box-shadow: 9px 8px 8px 0px #8e8b8b;*/
	}
	.sidebar .search-dealer{
	    position: absolute;
	    right: 0px;
	    top: 60px;
	    width: 190px;
	    padding-left: 10px;
	    cursor: pointer;
	    /*box-shadow: 9px 8px 8px 0px #8e8b8b;*/
	}
	.sidebar .search-dealer .font{
		width: 95px;
		height: 59px;
		border-top: 1px solid #737373;
	}
	.sidebar .over:hover .box-d{
		margin-left: -90px;
	}
	.sidebar .over:hover .font{
		background: red;
	}
	.sidebar .over:hover .shape{
	    box-shadow: -2px 1px 6px 1px red;
	}
	.sidebar .over:hover .shape-left{
	    border-bottom: 60px solid red;
	}
	/*layer*/
	.layer{
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: url('../images/back.png') repeat;
		display: none;
	}
	.layer .layer-model{
		width: 475px;
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    margin: auto;
	    height: 600px;
	}
	.layer .layer-model img{
		height: 100%;
		margin: auto;
		width: auto;
	}
	.layer .layer-model .close{
		position: absolute;
		right: 0px;
		top: 0px;
		width: 10%;
		height: auto;
		cursor: pointer;
	}
	/*content*/
	.content{
		overflow: hidden;
		background: url('../images/back.jpg') no-repeat 100% 0%;
		background-size:100%;
	}
	/*user*/
	.user{
	    margin-top: 25%;
	}
	.user h2 img{
		width:60%;
		margin: auto;
	}
	.user .user-right{
		width: 50%;
	}
	.user .user-left{
		width: 50%;
	}
	.user .user-left .btn{
		top: 25%;
		right: 5%;
		width: 60px;
		color: white;
		height: 25px;
		cursor: pointer;
		font-size: 14px;
		line-height: 26px;
		position: absolute;
		border-radius: 2px;
		background: #6e7479;
		letter-spacing: 1px;
		transition: all .6s;
	}
	.user .user-left .btn i{
		font-size: 13px;
	}
	.user .user-left .btn:hover{
		color: #f3eeee;
    	background: #c5121f;
	}
	.user .this-week{
		width: 90%;
	}
	.user .information{
		width: 90%;
		margin: auto;
	}
	.user .information input{
		width: 100%;
		background: white;
		height: 50px;
		line-height: 50px;
		text-indent: 1em;
		border: 1px solid #c6c6c6;
		margin-bottom: 18px;
		color: #7b7d7e;
	}
	.user .information select{
		width: 100%;
		background: white;
		height: 50px;
		text-indent: 1em;
		border: 1px solid #c6c6c6;
		margin-bottom: 18px;
		padding: 15px 0px;
		color: #7b7d7e;
	}
	.user .information label{
		line-height: 50px;
		margin-left: 5%;
	}
	.user .information .gender input{
		float: left;
		height: 20px;
		width: 20px;
		float: left;
		margin-top: 15px;
		margin-left: 6%;
	}
	.user .information .gender p{
		line-height: 50px;
		margin-left: 6%;
	}
	.user .submit{
		height: 60px;
		width: 100%;
		color: white;
		font-size: 16px;
		line-height: 60px;
		text-align: center;
		background: #444444;
		transition: all .6s;
	}
	.user .submit:hover{
		background: #c5121f;
		border-radius: 4px;
	}
	/*toSwiper*/
	.toSwiper{
		margin-top: 3%;    
	}
	.toSwiper-title{
		width: 32.5%;
		margin: 0px auto;
	}
	.toSwiper .date{
		top: 48%;
		right: 100px;
		background: #e5e5e5;
		padding:0px 8px;
		line-height: 30px;
	}
	.toSwiper .click-swiper{
		position: absolute;
		width: 100%;
		height: 1px;
	}
	.toSwiper .click-swiper img{
		width: 35px;
		cursor: pointer;
	}
	.toSwiper .click-swiper .right{
		float: right;
		margin-right: 5%;
		background: #d1d1d1;
		transition: all .6s;
	}
	.toSwiper .click-swiper .left{
		float: left;
		margin-left: 5%;
		background: #d1d1d1;
		transition: all .6s;
	}
	.toSwiper .click-swiper .left:hover{
		background: red;
		opacity: .8
	}
	.toSwiper .click-swiper .right:hover{
		background: red;
		opacity: .8
	}
	.toSwiper .more{
		top: 48%;
		right: 30px;
		color: white;
		padding:0px 8px;
		line-height: 30px;
		background: #444444;
		transition: all .6s;
	}
	.toSwiper .more:hover{
		color: white;
		background: red;
	}
	.toSwiper .date select{
		width: 90px;
	}
	.toSwiper .toSwiper-top{
		margin-top: 30px;
	}
	.toSwiper .to-line{
		height: 1px;
		background: black;
		position: absolute;
		top: 18%;
		left: 10%;
		width: 80%;
	}
	.toSwiper h3{
		text-align: center;
	    transition: all 1.5s;
	    width: 70%;
	    margin: 12px auto;
	    background: black;
		color: white;
	}
	.toSwiper p{
		text-align: center;
		width: 80%;
		margin: 0px auto;
	}
	.toSwiper .box-tr{
	    transform: rotate(0deg);
	    width: 18px;
	    height: 18px;
	    background: black;
	    margin: auto;
	    margin-top: 15px;
	    margin-bottom: 15px;
	    border-radius: 100px;
	    transition: all .8s;
	    box-shadow: 0 0 10px 3px #756c6c;
	}
	.toSwiper .swiper-slide div:hover h3{
		background: red;
		color: white;
		border-radius: 6px;
	}
	.toSwiper .swiper-slide div:hover .box-tr{
	    transform: rotate(45deg);
	    border-radius: 1px;
		background: red;
	    box-shadow: 0px 0px 22px 6px #b1abab;
	}
	.toSwiper .light h3{
		background: red;
		color: white;
		border-radius: 6px;
	}
	.toSwiper .light .box-tr{
		transform: rotate(45deg);
	    border-radius: 1px;
		background: red;
	    box-shadow: 0px 0px 22px 6px #a59898;
	}
	.toSwiper .time-box{
		float: left;
		width: 16.666%;
		cursor: pointer;
	}
	/*.toSwiper-top .time-line{
		width: 80%;
	}*/
	/*toSwiper-bom*/
	.toSwiper-bom{
		margin-top: 5%;
		background: #edf4fb;
	}
	.toSwiper-bom .copy{
		margin-top: 4%;
		text-indent: 3em;
	}
	.toSwiper-bom .copy h4{
		line-height: 60px;
		font-size: 18px;
		letter-spacing: .2em;
	}
	.toSwiper-bom .copy li{
		line-height: 25px;
		letter-spacing: .1em;
		color: #a5aaaf;
		font-size: 15px;
	}
	/*show*/
	.show{
		background: url('../images/back-1.jpg') no-repeat 100% 0%;
		margin-top: 70px;
	}
	.show h4{
		color: white;
		text-indent: 1em;
		border-left: 3px solid white;
		line-height: 14px;
		margin: 28px 0px;
		font-size: 16px;
	}
	.show .h4-black{
		color: black;
		border-left:  3px solid black;
	}
	.show .swiper-slide img{
		width: 90%;
		margin: auto;
	}
	.show .show-title{
		margin-top: 26px;
		margin-bottom: 26px;
	}
	.show .pagin{
		width: 100%;
		height: 1px;
		position: absolute;
		z-index: 99;
	}
	.click-swiper-ago{
		top: 30%;
	}
	.click-swiper-owner{
		top: 45%;
	}
	.click-swiper-gilrs{
		top: 48%;
	}
	.show .pagin img{
		width: 40px;
		background: #d1d1d1;
		transition: all .7s;
	}
	.show .pagin img:hover{
		background: red;
		cursor: pointer;
	}
	.show .pagin .right{
		float: right;
		margin-right: 1.25%;
	}

	.show .pagin .left{
		float: left;
		margin-left: 1.25%;
	}
	.show .btn{
		top: 0%;
		right: 1.5%;
		width: 60px;
		color: white;
		height: 25px;
		cursor: pointer;
		font-size: 14px;
		line-height: 26px;
		position: absolute;
		text-align: center;
		border-radius: 2px;
		background: #6e7479;
		letter-spacing: 1px;
		transition: all .6s;
	}
	.show .btn i{
		font-size: 15px;
	}
	.show .btn:hover{
		color: #f3eeee;
    	background: #c5121f;
	}
	.show .the-owner{
		margin-bottom: 70px;
	}
	/*customer*/
	.customer {
		width: 100%;
	}
	.customer .drive{
		position: absolute;
		width: 20%;
		left: 40%;
		top: 5%;
	}
	.customer .user-img{
		width: 100%;
		min-width: 1200px;
	}
	.customer .user-msg{
		width: 775px;
		position: absolute;
		left: 0px;
		right: 0px;
		margin: auto;
		top: 19%;
	}
	.customer .user-msg input{
		background: url('../images/index/user-input.png');
		border: 1px solid #434445;
		height: 45px;
	}
	.customer .user-msg .top input{
		width: 100%;
		line-height: 45px;
		float: left;
		color: #717272;
		text-indent: 1em;
	}
	.customer .user-msg .num{
		width: 50%;
		margin-top: 26px;
	}
	.customer .user-msg .top .b-1,
	.customer .user-msg .top .t-1{
		width: 50%;
	}
	.customer .user-msg .top .b-1 {
		line-height: 50px;
		color: white;
	}
	.customer .user-msg .top .b-1 label{
		font-size: 18px;
	}
	.customer .user-msg .top .b-1 input{
		float: none;
		width: auto;
		margin-left: 16px;
		margin-right: 16px;
		width: 18px;
		height: 18px;
		margin-top: 10px;
	}
	.customer .user-msg .top .t-1 input{
		width: 90%;
	}
	.customer .user-msg .bom .r-box,
	.customer .user-msg .bom .l-box{
		width: 50%;
	}
	.customer .user-msg .bom h3{
		color: white;
		line-height: 50px;
		margin-top: 3%;
		letter-spacing: 1px;
	}
	.customer .user-msg .bom .n-box{
		width: 90%;
		overflow: hidden;
	}
	.customer .user-msg .bom .n-box select{
		width: 100%;
		height: 45px;
	}
	.customer .user-msg .bom .n-box div{
		background: url(../images/index/user-input.png);
    	border: 1px solid #434445;
		width: 45%;
		line-height: 45px;
	}
	.customer .user-msg .bom .n-box .time{
		width: 100%;
		margin-top: 5%;
	}
	.customer .user-msg .r-box div{
		background: url(../images/index/user-input.png);
    	border: 1px solid #434445;
		width: 100%;
		line-height: 45px;
	}
	.customer .user-msg .r-box select{
		width: 100%;
		height: 45px;
	}
	.customer .user-msg .r-box .t-5{
		margin-top: 5%;
	}
	.customer .drive-btn{
	    background: #444444;
	    width: 100%;
	    text-align: center;
	    line-height: 50px;
	    cursor: pointer;
		color: white;
		transition: all .6s;
		margin: auto;
		margin-top: 5%;
	}
	.customer .drive-btn:hover{
		background: red;
	}
	/*slec-box*/
	.slec-box {
		position: relative;
	}
	.slec-box p{
		color: #717272;
		text-indent: 1em;
	}
	.slec-box img{
		height: 100%;
		position: absolute;
		z-index: 99;
		top: 0px;
		right: 0px;
		width: auto;
	}
	.slec-box input{
		position: absolute;
		height: 45px;
		filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
		top: 0px;
		left: 0px;
		z-index: 999;
		width: 100%;
	}
	.slec-box select{
		position: absolute;
		filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		opacity: 0;
		top: 0px;
		height: 45px;
		left: 0px;
		z-index: 999;
	}
	/* Demo Syles */
	.device .arrow-left {
		background: url(img/arrows.png) no-repeat left top;
		position: absolute;
		left: 10px;
		top: 50%;
		margin-top: -15px;
		width: 17px;
		height: 30px;
	}
	.device .arrow-right {
		background: url(img/arrows.png) no-repeat left bottom;
		position: absolute;
		right: 10px;
		top: 50%;
		margin-top: -15px;
		width: 17px;
		height: 30px;
	}
	.week-pagination {
		position: absolute;
		left: 0;
		text-align: center;
		bottom: 16%;
		width: 100%;
		z-index: 999;
	}
	.swiper-pagination-switch {
		display: inline-block;
		width: 12px;
		height: 12px;
		border-radius: 15px;
		background: #fff;
		box-shadow: 0px 1px 2px #555 inset;
		margin: 0 8px;
		cursor: pointer;
	}
	.swiper-active-switch {
		background: red;
	}