	/*body*/
	body,html{
		margin: 0px;
		padding: 0px;
		min-width: 1000px;
	}
	img{
		border: 0px;
		display: block;
	}
	/*layer*/
	.layer{
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 99;
		background: url('../images/back.png') repeat;
		display: none;
	}
	.layer .layer-model{
		width: 475px;
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    margin: auto;
	    height: 600px;
	}
	.layer .layer-model img{
		height: 100%;
		margin: auto;
		width: auto;
	}
	.layer .layer-model .close{
		position: absolute;
		right: 0px;
		top: 0px;
		width: 10%;
		height: auto;
		cursor: pointer;
		z-index: 999;
	}
	.layer .model-img{
		width: 475px;
		height: 600px;
	}
	.layer .model-img img{
		width: 100%;
	}
	/*content*/
	.content{
		overflow: hidden;
		background: url('../images/back.jpg') no-repeat 100% 0%;
		background-size:100%;
	}

	/*theme*/
	.theme-title{
		margin-top: 28%; 
	}

	/*lamp*/
	.lamp-box{
		overflow: hidden;
	}
	.lamp-box img{
		width: 23%;
		float: left;
		margin: 3% 1% 0px;
		cursor: pointer;
	}
	/*filp*/
	.filp{
		text-align: center;
		margin-top: 60px;
	}
	.filp ul{
		overflow: hidden;
		display: inline-block;
	}
	.filp ul li{
		float: left;
		overflow: hidden;
	}
	.filp ul li div{
		width: 40px;
		height: 40px;
		line-height: 40px;
		float: left;
		overflow: hidden;
		border: 1px solid black;
		box-sizing: border-box;
		cursor: pointer;
		transition: all .6s;
	}
	.filp ul li .left{
		margin: 0px 6px 0px 16px;
	}
	.filp ul li .right{
		margin: 0px 16px 0px 6px;
	}
	.filp ul li .light{
		background: red;
		color: white;
		border: 1px solid white;
		border-radius: 5px;
	}
	.filp ul li div:hover{
		background: red;
		color: white;
		border: 1px solid white;
		border-radius: 4px;
	}


